nav.navbar.navbar-default {
  margin-bottom: 0;
}


body{
  background-image: url("https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  
}


.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(54, 58, 70, 0.76);
  width: 400px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  border-radius: 10px;
}