nav.navbar.navbar-default {
  margin-bottom: 0;
}


body{
  background-image: url("https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}


.box{
  background: rgba(54, 58, 70, 0.76);
  width: 400px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

#form1{
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidenav{
  background-color: rgb(254, 254, 254);
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
}

#signupbtn{
  margin-bottom: 10px;
}

#addTrip{
  width: 200px;
}

#expenses{
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  padding-bottom: 10px;
}